/* agenda-table.css */
.schedule-table            { width:100%; border-collapse:collapse; }
.schedule-table th,
.schedule-table td         { border:1px solid #23272b; padding:.5rem .75rem; }

.schedule-table th         { background:#23272b; color:#fff; text-align:center; }

/* Columna de hora */
.schedule-table .slot      { width:120px; text-align:center; font-weight:500; color:#fff; background: #495057; }

/* Colores de tramos (ajusta a tu gusto) */
.slot-hour   { background:#0d6efd; }          /* 08-12  azul     */
.slot-midday    { background:#6f42c1; }          /* 12-15  violeta  */
.slot-afternoon { background:#198754; }          /* 15-19  verde    */
.slot-evening   { background:#ffc107; color:#000;}/* 19-22 amarillo */
